body {
  position: relative;
  font-family: "Tsukimi Rounded", sans-serif;
  margin: 0;
  padding: 0;

  --headerBgc: rgb(170, 170, 170);
  --centerBgc: rgb(18, 18, 18);
}

#content {
  display: grid;
  grid-template-rows: 170px 1fr;
  background-color: var(--centerBgc);
  color: white;
}

/* header styles */
.header {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 4rem;
  text-align: center;
  background-color: var(--headerBgc);
}

.title {
  color: white;
  font-weight: 900;
}

.tabs {
  align-self: center;
  display: flex;
  justify-content: center;
  gap: 10%;
  font-size: 1.8rem;
}

li {
  list-style-type: none;
  background-color: var(--headerBgc);
  padding: 5px 20px;
  border: 1px solid white;
  border-bottom: none;
  cursor: pointer;
  color: rgb(64, 64, 64);
}

.active-tab {
  background-color: var(--centerBgc);
  color: white;
}

/* center styles */

.center {
  display: flex;
  height: 100%;
  background: url("./bgImage.jpg");
}
.center > div {
  width: 100%;
  background-color: rgba(18, 18, 18, 0.743);
  font-size: 4rem;
  text-align: center;
}

/* home tab styles */

.home {
  height: calc(100vh - 370px);
  padding-top: 200px;
}

.options {
  font-size: 2rem;
}

.motto {
  color: rgb(201, 201, 201);
  font-size: 1.5rem;
}

/* menu tab styles */
.menu {
  display: grid;
  padding: 60px 150px 75px 150px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.menu > div {
  background-color: rgb(149, 141, 141);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 50px;
  align-items: center;
}

.menu p {
  margin: 0;
  padding: 0;
}

.menu > div > .name {
  font-size: 2rem;
}

.menu > div > .price {
  font-size: 1.1rem;
  margin: 10px 0 20px 0;
  font-style: italic;
}

.menu > div > .description {
  font-size: 1.3rem;
}

/* footer styles */
.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10%;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: rgb(201, 201, 201);
  font-size: 1.4rem;
}
